{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'resolution/style.css' %}" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default">
  <div class="container-fluid">

        <!-- LOGO -->
        <div class="navbar-header">
            <a id="logo" class="navbar-brand" href="{% url 'resolution:index' %}"><img src='{% static "resolution/images/livesmartLogo.png" %}'/></a>
            <a class="navbar-brand" href="{% url 'resolution:index' %}">Home</a>
            <a class="navbar-brand" href="{% url 'resolution:resolution-add' %}">Add resolution</a>
            <a class="navbar-brand" href="{% url 'resolution:register' %}">Register</a>
            <a class="navbar-brand" href="{% url 'admin:login' %}">Login</a>
            <a class="navbar-brand" href="{% url 'admin:logout' %}">Logout</a>
        </div>

  </div>
</nav>

{% block body %}
{% endblock %}
