{% extends 'resolution/base.html' %}

{% block body %}
{% if object_list %}
<h3>Here are all your resolutions for this year</h3>
<ul class="list-group">
  {% for result in object_list %}
  <li class="list-group-item"><a class="list-group-item" href="{% url 'resolution:detail' result.id %}">{{result.resolution_title}}</a><br> <a class="icon update" href="{% url 'resolution:resolution-update' result.id %}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <form action="{% url 'resolution:resolution-delete' result.id %}" method="post" style="display:inline-block">
      {% csrf_token %}
      <input type="hidden" name="resolution_id" value="{{ result.id }}"/>
      <button type="submit" class="btn btn-default btn-sm">
          <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </form>
  </li>
  {% endfor %}
</ul>

{% else %}
  <h3>No results to be displayed</h3>
{% endif %}
{% endblock %}
